.mainMobile {
  width: 100vw; /* Fill the entire viewport width */
  height: 100vh; /* Fill the entire viewport height */
  background-image: url("../../../assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover; /* Cover the entire visible area of the div */
  background-position: center;
  overflow: hidden;
}
/* .mobileHeader {
  display: flex;
  justify-content: space-around;
  gap: 280px;
  margin-top: 20px;
} */
.logo {
  height: 21px;
  width: 24px;
}
.txts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  color: #d0d6f9;
}
.mobileH1 {
  color: #fff;
  text-align: center;
  font-family: Bellefair;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 100px; /* 125% */
  margin-top: 0px;
}
.mobileH3 {
  color: #d0d6f9;
  text-align: center;
  font-family: Barlow;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
  padding: 20px;
  margin-top: -40px;
}

.mobileHomeButton {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 100px;
  fill: #fff;
  border: none;
  cursor: pointer;
  color: #0b0d17;

  text-align: center;
  font-family: Bellefair;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.25px;
}
.homeButtonDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}


.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
}

.mobileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  height: 30px; /* Adjust height as needed */
  width: auto; /* Ensure logo maintains aspect ratio */
}

.hamburger {
  display: block;
  cursor: pointer;
}

.navbar-menu {
  display: none;
  width: 100%;
  padding: 0;
  margin: 10px 0 0;
}

.navbar-menu.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-item {
  margin-bottom: 10px;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #fff; /* Change link color on hover */
}
